/*body{
    color: #fff;
    font-family :"Nunito Semibold";
    text-align: center;
  
}*/

#main{
    max-width: 906px;
    margin: 0 auto; 
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.tiles{
    background-color: #3bbced;
    padding: 30px;
    /*border: solid 4px;*/
}

.tiles:nth-child(even){
    background-color: #777;
}
/*.tiles{
    width: 100px;
    height: 100px;
    border: 1px solid black;
}*/